.ipynb_checkpoints/
*.code-workspace
__pycache__/

.vscode
.gitignore
det_ingrs.json
modelbest.ckpt
saved_models/inversecooking/model/checkpoints/args.pkl
saved_models/inversecooking/model/checkpoints/model.ckpt
saved_models/inversecooking/model/checkpoints/optim.ckpt
saved_models/inversecooking/model/checkpoints/optimbest.ckpt
saved_models/inversecooking/model/logs/train.err
saved_models/inversecooking/model/logs/train.log
saved_models/inversecooking/tb_logs/
saved_models/inversecooking/model/logs/eval.err
saved_models/inversecooking/model/logs/eval.log
data/fittime_ingr_vocab.pkl
data/fittime_instr_vocab.pkl
data/train_dataset.pkl
